[submodule "dependencies/OpenMesh"]
	path = dependencies/OpenMesh
	url = git@gitlab.vci.rwth-aachen.de:OpenMesh/OpenMesh.git
[submodule "dependencies/libQEx"]
	path = dependencies/libQEx
	url = git@github.com:hcebke/libQEx.git
