[submodule "dependencies/OpenMesh"]
	path = dependencies/OpenMesh
	url = https://gitlab.vci.rwth-aachen.de:9000/OpenMesh/OpenMesh.git
[submodule "dependencies/libQEx"]
	path = dependencies/libQEx
	url = https://github.com/hcebke/libQEx.git
